* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: Roboto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
} 

[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Blocks at all pages */
/* Header */
header.site-header {
	background: #3366cc;
}

.logo {
	display: inline-block;
}

	.logo img  {

	}

.contact-shedule {
	display: inline-block;
	float: right;
	text-align: right;
}

.contact__tel {

}

.contact__shedule {

}

.shedule-tooltip {
	display: none;
}

.shedule-tooltip__work-hours {

}

.shedule-tooltip__dinner {

}


/* Wrapper */
.wraper {

}

	/* Aside + nav */
	.aside {}
		.nav {}
		.nav__ul {}

	.main-section {

	}

	.breadcrumbs {

	}

	.article {

	}

	.article__header {

	}

	.article__body {

	}

/* Footer */
footer.site-footer {
	background: #3366cc;
}

	.made-by {

	}

	.made-by__school {

	}

	.made-by__author {

	}


	.made-by_bold {

	}

	.made-by_underline {

	}


	.logo  {
		display: inline-block;
		margin: 0 auto;	
		text-align: center;	
	}

	.logo_center {

	}

	.logo img {

	}


	.socials {
		/*text-align: right;*/
	}

	.socials__header {

	}

	.socials__icons {

	}

	.vk {

	}

	.face {

	}

	.g_pl {

	}

	.twt {

	}

	.email {

	}
