
* {
    margin: 0;
    padding: 0;
}

/* ---- Header ----- */
#header {

}

/* ---- Wrapper ----- */
.wrap {
    height: 100vh;
}

/* ---- Articles ----- */
.article {

}

.article_header {

}

.article_body {

}

.artile_footer {

}

/* ---- Aside ---- */
#aside {

}

/* ---- Footer ----- */
#footer {

}