
* {
    margin: 0;
    padding: 0;
}

/* ---- Header ----- */
#header {
    background: green;
    margin: 10px auto;
}

/* ---- Wrapper ----- */
.wrap {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
}

/* ---- Articles ----- */
.article {
    margin-top: 20px;
}

.article_header {
    font-weight: bold;
    font-style: italic;
}

.article_body {

}

.artile_footer {
    font-style: italic;
}

/* ---- Aside ---- */
#aside {

}

#aside a {
    text-decoration: none;
    color: black;
}

#aside a:hover {
    color: blue;
}

/* ---- Footer ----- */
#footer {
    background: green;
    font-weight: bold;
}