
/* In aside nav bar */
.nav__main:before {
	content: url('../img/icons/send_arror-blue.png')
}
.nav__team:before {
	content: url('../img/icons/team_icon-black.png')
}
.nav__comments:before {
	content: url('../img/icons/feed_icon-blue.png')
}

/* Main part */
.members-list { /* ul */
	list-style-type: none;
}

	.member {
		display: inline-block;
		float: left;
		width: 256px;
		line-height: 1.167;
		text-align: center;
		color: rgb(34, 31, 31);
	}

		.member__photo img {
			border-radius: 50%;
			width: 160px;
		}

		.member__name {
			font-size: 18px;
			font-weight: bold;
		}

		.member__position {
			font-weight: bold;
			color: #1c5bc3;
		}

		.member__descr {
			/*color: rgb(34, 31, 31);*/
		}
